.custom-slider-buttons.slider-button--next {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
}

.custom-slider-buttons.slider-button--prev {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
}