.home1-collection-list .card__content {
  position: absolute;
  bottom: 10px;
  pading-left: 60px;
}

.home1-collection-list .card__content .full-unstyled-link {
  display: inline-block;
  font-weight: 600;
  text-transform: capitalize;
  background: white;
  border-radius: 30px;
  padding: 5px 24px;
  margin-left: 30px;
}

.home1-collection-list .slider-buttons {
  display: none;
}

.collection-list-wrapper.home1-collection-list {
  padding: 0 20px;
}