.home-multicolumn .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.home-multicolumn .multicolumn-card__info {
  position: absolute;
  bottom: 0;
}

.home-multicolumn .multicolumn-card__info .link {
  background: white;
  padding: 5px 24px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.6rem;
}

.home-multicolumn .rte {
  color: white;
}

.multicolumn.home-multicolumn {
  padding: 0 20px;
}

.multicolumn.home-multicolumn img {
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  .home-multicolumn .multicolumn-list {
    padding-left: 0;
    padding-right: 0;
  }
}